body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#c{
  width: 100vw;
  height: 100vh;
  display: block;
}

#colBlock{
  width:350px;
  height: 100px;
  margin: 50px;
  background: red;
  position: absolute;
  border-radius: 20px;;
}

#partName{
  color:#fff;
  font-size: 35px;
  font-weight: 500;
  line-height: 25px;
}

@media only screen and (max-width: 600px){
  .App{
    display: flex;
    justify-content: center;
  }
}